:root {
  /* CSS variables to hold color values */
  --white-text: #fff;
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-purple: hsl(248, 32%, 49%);
  --neutral-gray: hsl(249, 10%, 26%);
  --neutral-purple: hsl(246, 25%, 77%);
}
* {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.gap-2 {
  gap: 3rem;
}
.text-center {
  text-align: center;
}
body {
  background-image: url(./images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  padding: 1.5rem;
  margin: 0;
}
main {
  margin: 3.33rem 0 1.33rem;
}
.heading {
  color: var(--white-text);
  font-size: 1.67rem;
}
.primary-text {
  color: var(--white-text);
  font-size: 1rem;
}
.tos {
  color: var(--neutral-purple);
  font-size: 0.67rem;
}
.trial-box {
  background-color: var(--accent-purple);
  border-radius: 10px;
  padding: 0.33rem 4rem;
  margin: 0 0 1.33rem;
}
.form-field {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
}
.box-shadow {
  box-shadow: 0px 8px 0px hsla(0, 0%, 0%, 0.15);
}
.attribution {
  color: var(--white-text);
  font-size: 0.67rem;
  text-align: center;
}
.attribution a {
  color: var(--primary-green);
}
